header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  position: fixed;
  height: 90px;
  width: 100%;
  align-items: center;
  background-color: white;

}

.logo span {
  color: MediumAquamarine;
}
img {
  margin-right: 15px;
}

.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}

nav {
  padding-right: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.container {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top:  115px;

}

.column {
  display: flex;
  margin-right: 32px;
  flex-direction: column;
}
.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

div {
  border: 1px solid black;
}
